.idea/
argo_proxy/dist/
node_modules/
golangproj/dkit/cmd/dkit/main
.DS_Store
/*/target/debug/
/*/target/.*
/*/target/CACHEDIR.TAG
.gemini/
*.test.json
*.tmp.txt
.vscode/*
!.vscode/launch.json
/bin/
*.log